body {
  color: #545871;
}

h2 {
  color: #545871;
}

h3 {
  color: #545871;
}

h4 {
  color: #545871;
}

.ant-layout-sider-light {
  background-color: #545871;
}

.ant-menu-light {
  background-color: #545871;
  color: #FFFFFF;
}

.ant-menu-item-selected {
  color: #545871;
}

hr{ 
  height: 1px;
  color: #E6DBDA;
  color: red;
  background-color: #E6DBDA;
  border: none;
}

.ant-list-item {
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px solid #E6DBDA;
}

.infinite-container {
  overflow: auto;
}

.loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.ant-menu {
  height: 90%;
  text-align: left;
}

.ant-btn-primary {
  background-color: #DADBE6;
  border-color: #DADBE6;
}

.anticon-mail {
  color: #545871;
}

.anticon-edit {
  color: #545871;
}

.anticon-user-delete {
  color: #545871;
}

.ant-menu-inline-collapsed {
  width: 100px;
}

.ant-layout-content {
  overflow: hidden;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.ant-table-thead > tr {
  background: #545871;
}

.ant-table-thead > tr > th {
  color: #FFFFFF !important;
}

.ant-table-tbody > tr > td {
  background: #FFFFFF;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 10px 10px;
}